* {
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

header {
    padding: 16px max(120px, (50% - 720px));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 102px;

    background-color: rgba(78, 164, 135, 1);

    img {
        height: 72px;
        width: 72px;

    }

    nav {
        display: flex;
        gap: 72px;

        a {
            text-decoration: none;
            color: rgba(248, 245, 235, 1);
            font-size: 1.5rem;
            font-family: 'Arima';
            font-size: 700;
        }

        a:hover {
            color: rgba(241, 201, 83, 1);
            ;
        }

    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(78, 164, 135, 1);
    padding: 16px max(120px, (50% - 720px));
    height: 152px;

    .right-side {
        display: flex;
        gap: 72px;
        font-family: 'Palanquin';
        font-size: 1rem;

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: rgba(241, 201, 83, 1);
        }
    }

    .copyright {
        gap: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-media {
        display: flex;
        gap: 16px;
    }


}

.social-media>a:hover {
    transform: scale(1.2);
}

.highlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 88px
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 980px;

    h2 {
        font-family: 'Arima';
        font-weight: 700;
        color: rgba(78, 164, 135, 1);
        font-size: 3.25rem;
        text-align: center;

        img {
            margin-right: 10px;
        }
    }

    p {
        font-family: 'Palanquin';
        font-weight: 500;
        font-size: 1.5rem;
        text-align: center;
    }
}




.container-card {
    position: relative;
    width: 1200px;
    height: 700px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    overflow: hidden;

}

.container-card input {
    z-index: 2;
    margin: 5px;
    position: relative;
    left: 600px;
}

.cards {
    width: 200%;
    height: 100%;
    position: absolute;

    display: flex;

    transition: all 1s ease-in-out;
}

.card>img {
    height: 100%;
    border-top-right-radius: 100px;
    width: 100%;
}

.one {
    width: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: start;

}

.two {
    width: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card input[value="two"]:checked~.cards {
    transform: translateX(calc(-100% / 2));
}

.container-card input[value="one"]:checked~.cards {
    transform: translateX(0);
}

.info-one {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 54px;
    left: 38px;
    width: 870px;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);



    h3 {
        font-family: 'Palanquin Dark';
        font-weight: 600;
        font-size: 3rem;
        color: white;
        padding: 16px 24px 0px 24px;
    }

    p {
        font-family: 'Palanquin';
        font-weight: 400;
        font-size: 1.5rem;
        color: white;
        padding: 0px 24px 16px 24px;

    }

}

.info-two {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 54px;
    left: 1238px;
    width: 870px;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    h3 {
        font-family: 'Palanquin Dark';
        font-weight: 600;
        font-size: 3rem;
        color: white;
        padding: 16px 24px 0px 24px;
    }

    p {
        font-family: 'Palanquin';
        font-weight: 400;
        font-size: 1.5rem;
        color: white;
        padding: 0px 24px 16px 24px;

    }

}